<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    {{#if admin}}
    <a class="navbar-brand" href="#">Admin Panel</a>
    {{/if}}

    {{#if vAdmin}}
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/admin/add-user">Add User</a>
        </li>
      </ul>
      {{/if}}
      
<form class="d-flex input-group w-auto">
      {{#if vAdmin}}
        <a href="/admin/logout">
        <button
          class="btn btn-outline-primary"
          type="button"
          data-mdb-ripple-color="dark">
          Log Out
        </button>
        </a>
      {{else}}
        <a href="/admin/login">
        <button
          class="btn btn-outline-primary"
          type="button"
          data-mdb-ripple-color="dark">
          Log In
        </button>
        </a>
      </form>
      {{/if}}
    </div>
  </div>
</nav>

