<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    {{#if user}}
    <a class="navbar-brand" href="#">User Header</a>
    {{/if}}
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">about</a>
        </li>
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="#">services</a>
        </li>
        {{/if}}

      </ul>
      {{!-- <form class="d-flex input-group w-auto"> --}}
      
       {{#if user}}
        <button
          class="btn btn-outline-primary"
          type="button"
          data-mdb-ripple-color="dark">
          <a style="text-decoration: none; color: red;" href="/logout">
          Log Out
          </a>
          </button>

          {{else}}
          <button
          class="btn btn-outline-primary"
          type="button"
          data-mdb-ripple-color="dark">
          <a style="text-decoration: none; color: red;" href="/login">Log In</a>
          </button>
          {{/if}}
        
      {{!-- </form> --}}


    </div>
  </div>
</nav>

